{% extends "templates/base.html" %}
{% block content %}
<div class="container">

    <div class="col-xs-9">
        <h1>A Jewish Sperm Donor</h1>

        <p>Hi, my name is Ben and I'm a Jewish Sperm Donor, and pretty damn proud of it.</p>
        <p>I'm 35 years old, completely healthy, in great shape, no genetic disorders or illnesses in the family, and generally a very happy person.</p>
        <p>Previously, I was a Chef, then I made Aliyah to Israel and for 2 years I was a solider in the IDF, even reaching a position of command in a combat unit (very proud of that!).</p>
        <p>After I left the Army, I worked as a tour guide for a while, and then moved to Australia, cause let's face it, living in Israel can be difficult.</p>
        <p>In Australia, I studied computer science, and became a decent programmer. So much so that an American startup offered me a job.</p>
        <p>So I moved to America and rose quickly through the ranks. After the startup ran out of money, I moved to a larger company and did IT R&amp;D for them. It was awesome fun and I learned a lot.</p>
        <p>At some point, a very large company reached out to me from San Francisco, and I moved there for a year, where I got to work with companies like Audi and Apple. It was incredible and humbling experience.</p>
        <p>Currently I teach programming as a contractor, and I love my intense, often stressful yet rewarding job.</p>

        <hr>

        <h2>Sperm Donation</h2>

        <p>So, why do I want to be a sperm donor?</p>
        <p>In my previous relationship, we dealt with fertility issues. Not mine, hers.</p>
        <p>I have felt the pain first-hand of wanting children but not being able to have them, and if there is any way that I can help other Jewish couples achieve their dream of having children, then I want to do what I can.</p>
        <p>Last year I did a sperm test and everything came back looking great. I'll be performing another one in January 2016, and will post up the results here.</p>

        <hr>

        <h2>The Process</h2>

        <p>If you want me to be your donor, we need to talk about it at length first. Sorry if that is uncomfortable for you, but I want to make sure that any child that comes of my sperm is going to a good home.</p>
        <p>Secondly, this is still a new process for me, so I am still setting up all the legal agreements and contracts with my lawyer. It may take a little while until all that is up to date, but it shouldn't be later than March 2016, so only plan for things to happen around that time.</p>

        <hr>

        <h2>How to get in touch with me</h2>

        <p>You can email me at the following address. You'll have to piece it together. It's to avoid the spambots out there.</p>
        <p>bg / ddott / bendavid / att / gmail / ddott / com</p>
        <p>I'll code out a proper contact form when I have some more time</p>
        <p>You can also reach out to me on Twitter at <a href="https://twitter.com/jspermdonor">Twitter.com/jspermdonor</a>. If you follow me, I'll follow you back and then we can have a private conversation.</p>

        <hr>

        <h2>Fees and Charges</h2>

        <p>I'm not going to put them up here at the moment, but they exist. Definitely consider travel costs and any medical checks that would need to be performed for me. Everything would need to be paid up front, and must follow the local laws of that state or county.</p>
        <p>I will travel internationally, if it is required, but that would add to my costs, understandably, and all activities must conform to the law of whatever destination I'm travelling to.<p>

        <hr>

        <h2>Photos and Full Identity</h2>

        <p>If you contact me at the address above, I will send photos of myself and disclose my full identity. No games. No BS. And don't worry, I'm a really good looker. Well, at least I think so!! And I have a great sense of humor. So you're going to have a beautiful, funny baby who laughs all the time and is very chill. Well, that's what I was like as a baby. No joke! ;)</p>

        <hr>

        <h2>Ground Rules</h2>

        <p>I'm not messing around. Neither should you. Please only contact me if you're serious about this. And be prepared for the Q&amp;A heat-lamp grill treatement. Like I said, I'm not taking chances with who gets my genetic material. You must be a kind, loving, decent, stable family unit that wants children of your own. If I even smell crazy, cruel, mean or unstable, I will not continue with the process.<p>
        <p>I will donate to religious and non-religious alike. My main concern is that you are caring and loving to any children that will come of this.</p>
        <p>Also, and I know this one isn't exactly fair, but I don't care – you must foster a love of Israel in your home. I bled to defend Israel, and I lost friends in terror attacks and in war. I will not have children that come from my genetic material be raised to hate the State of Israel. Israel is a precious jewel in a world torn apart by war and hate, and it must be protected. The way we protect Israel is that we teach our children to love it with all their hearts. So you need to be ok with that.</p>

        <hr>

        <h2>And lastly...</h2>

        <p>Am Yisrael Chai. Please G-d I can help you to have the children you want.</p>

        <hr>

        <h2>Warm regards,</h2>

        <h2>Ben</h2>

    </div>

    <hr>

</div> <!-- .container -->
{% endblock content %}